@charset "UTF-8";
@font-face {
  font-family: "SF Display";
  font-weight: 400;
  src: url("https://sf.abarba.me/SF-UI-Display-Regular.otf");
}
@font-face {
  font-family: "SF Display";
  font-weight: 500;
  src: url("https://sf.abarba.me/SF-UI-Display-Medium.otf");
}
@font-face {
  font-family: "SF Display";
  font-weight: 600;
  src: url("https://sf.abarba.me/SF-UI-Display-Semibold.otf");
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "SF Display";
  font-size: 14px;
  color: black;
  margin: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: inherit;
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
}
body h1 {
  font-size: 2.1em;
}
body h2 {
  font-size: 1.75em;
}
body h3 {
  font-size: 1.4em;
}
body h4 {
  font-size: 1.15em;
}
body h5 {
  font-size: 1em;
}
body h6 {
  font-size: 0.85em;
}
body a {
  outline: none;
  text-decoration: none;
  font-weight: 400;
  color: inherit;
}
body a:hover,
body a:focus {
  text-decoration: none;
  color: inherit;
}
body ul {
  margin: 0;
  padding: 0;
}
body li {
  list-style: none;
}
body img {
  border: none;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
}

.ui-widget.ui-widget-content {
  z-index: 1050;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1001;
  display: none;
  background: rgba(0, 0, 0, 0.2);
}
.overlay.overlay-in {
  display: block;
  cursor: url("../img/cursor.png"), auto;
}

aside {
  background: #f4f4f4;
  height: 100vh;
  width: 250px;
  border-right: 1px solid #e1e1e1;
  transition: width 0.25s ease;
  position: fixed;
  overflow-y: scroll;
}
aside::-webkit-scrollbar {
  width: 5px;
}
aside::-webkit-scrollbar-track {
  background: #f1f1f1;
}
aside::-webkit-scrollbar-thumb {
  background: #888;
}
aside::-webkit-scrollbar-thumb:hover {
  background: #555;
}
aside ul li {
  position: relative;
}
aside ul li .sub-menu {
  background: #f4f4f4;
}
aside ul li .sub-menu li.active a {
  color: #6F4E37;
}
aside ul li:hover {
  background: #6F4E37;
  color: white;
}
aside ul li:hover .sub-menu li {
  background: #f4f4f4;
}
aside ul li.active {
  background: #6F4E37;
  color: white;
}
aside ul li a.nav-link {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  padding: 0;
  margin: 12px 20px;
  transition: 0.3s;
}
aside ul li .menu-down {
  font-size: 20px !important;
  position: absolute;
  top: 10px;
  right: 0;
  cursor: pointer;
}
aside ul li .sub-menu li {
  background: none;
}
aside ul li .sub-menu li a {
  color: #353535;
  transition: 0.3s;
}
aside ul li .sub-menu li a:hover {
  color: #6F4E37;
  transform: translateX(5px);
}
aside.aside-mini {
  width: 250px;
  transition: all 0.25s ease;
}
aside .menu {
  margin: 20px 0;
  position: relative;
}
aside .menu-close {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 24px;
}
aside .menu ul.nav li {
  display: block;
  width: 100%;
  padding: 0;
}
aside .menu ul.nav li i {
  padding-right: 10px;
  font-size: 16px;
}
aside .logo {
  text-align: center;
  padding: 10px 15px;
  height: 60px;
  border-bottom: 1px solid #e1e1e1;
}
aside .logo .logo-mini {
  display: none;
}

main {
  width: calc(100% - 250px);
  transition: width 0.25s ease, margin 0.25s ease;
  margin-left: 250px;
}

header {
  height: 60px;
  background: #f4f4f4;
  border-bottom: 1px solid #e1e1e1;
  padding: 0 15px;
  position: fixed;
  width: calc(100% - 250px);
  transition: width 0.25s ease, margin 0.25s ease;
  z-index: 1000;
}
header .menu-btn, header .cart-btn {
  font-size: 24px;
  cursor: pointer;
  padding: 10px 0;
  margin-right: 15px;
  transition: 0.3s;
}
header .menu-btn:hover, header .cart-btn:hover {
  color: #6F4E37;
}
header .menu-btn span, header .cart-btn span {
  font-size: 8px;
  background: #6F4E37;
  width: 12px;
  height: 12px;
  text-align: center;
  line-height: 12px;
  border-radius: 50%;
  color: white;
  position: absolute;
  margin-left: -10px;
}
header .menu-btn {
  display: none;
}
header .search {
  position: relative;
  margin: 10px 0;
  width: 100%;
}
header .search input {
  border: 0;
  background: none;
  font-size: 14px;
  padding-left: 30px;
  border-radius: 0;
}
header .search input:focus {
  box-shadow: none;
  background: none;
  border-bottom: 1px solid #6F4E37;
}
header .search button {
  background: none;
  position: absolute;
  top: 4px;
  left: 2px;
  border: 0;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}
header .search button:hover {
  color: #6F4E37;
}
header .contact ul {
  text-align: right;
  margin: 19px 0;
}
header .contact ul li {
  display: inline-block;
}
header .contact ul li a {
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px solid #cccccc;
}
header .contact ul li a i {
  padding-right: 10px;
  color: #6F4E37;
}
header .contact ul li:first-child a {
  border-left: 0;
}

article {
  margin: 50px;
  margin-top: 60px;
  margin-bottom: 0;
}

.title-page {
  margin-bottom: 30px;
}
.title-page h1 {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.bread-crumb {
  color: black;
  margin-bottom: 30px;
}
.bread-crumb .breadcrumb {
  background: none;
  padding: 0;
  margin-bottom: 0;
}
.bread-crumb .breadcrumb .breadcrumb-item {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.bread-crumb .breadcrumb .breadcrumb-item:first-child::before {
  content: none;
}
.bread-crumb .breadcrumb .breadcrumb-item:before {
  content: "";
  font-family: fontAwesome;
  padding-left: 10px;
  padding-right: 15px;
}
.bread-crumb .breadcrumb .breadcrumb-item:hover {
  color: #6F4E37;
}
.bread-crumb .breadcrumb .breadcrumb-item.active {
  color: #6F4E37;
}

.xzoom-source img,
.xzoom-preview img,
.xzoom-lens img {
  z-index: 1051;
}

.modal {
  cursor: url("../img/cursor.png"), auto;
  z-index: 1050;
}

.mfp-bg {
  z-index: 1052;
}

.mfp-wrap {
  z-index: 1053;
}

.swal2-popup .swal2-styled.swal2-confirm {
  background: #6F4E37;
}
.swal2-popup .swal2-styled.swal2-confirm a {
  font-weight: 500;
}

.pagination {
  margin-bottom: 30px;
  margin-top: 30px;
}
.pagination .page-item .page-link {
  background: none;
  border: 1px solid #cccccc;
  color: #5E5E5E;
  border-radius: 3px;
  transition: 0.5s;
  width: 40px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  line-height: 25px;
  font-weight: bold;
}
.pagination .page-item .page-link:hover, .pagination .page-item .page-link.active {
  background: #6F4E37;
  color: white;
  border-color: #6F4E37;
}

.ui-widget.ui-widget-content {
  z-index: 1050;
}

.quickview {
  cursor: url("../img/cursor.png"), auto;
}
.quickview .modal-content {
  cursor: default;
}
.quickview .modal-content .modal-body img {
  margin-bottom: -5px;
}
.quickview .modal-content .modal-body h2 {
  font-weight: bold;
  margin-bottom: 15px;
}
.quickview .modal-content .modal-body h5 {
  margin-bottom: 15px;
}
.quickview .modal-content .modal-body h4 {
  color: #6F4E37;
  font-weight: bold;
  margin-bottom: 15px;
}
.quickview .modal-content .modal-body p {
  margin-bottom: 20px;
  color: #656565;
}
.quickview .modal-content .modal-body input {
  width: 40px;
  height: 40px;
  padding-left: 5px;
  margin: 0 5px;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  margin-bottom: 20px;
  padding-top: 3px;
}
.quickview .modal-content .modal-body .cart-btn {
  border: 2px solid #6F4E37;
}
.quickview .modal-content .modal-body .cart-btn:hover {
  background: none;
  border-color: black;
}
.quickview .modal-content .modal-body .xzoom-thumbs a {
  background: none;
  margin: 1px;
}
.quickview .modal-content .modal-body .xzoom-thumbs img {
  width: 80px;
  height: 80px;
}
.quickview .modal-content .modal-body .xzoom-thumbs .xactive {
  border: 1px solid #6F4E37;
}
.quickview .modal-content .modal-body .tags {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #e1e1e1;
}
.quickview .quantity span {
  margin-right: 5px;
}
.quickview .quantity input {
  background: none;
  border: 0;
  width: 35px;
  margin-left: 20px;
  font-size: 16px;
  margin-bottom: 5px;
}
.quickview .quantity button {
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
  background: black;
  border: 0;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  color: white;
  line-height: 19px;
}
.quickview .quantity button:hover {
  background: #6F4E37;
}
.quickview .quantity button.custom-cart {
  background: #6F4E37;
  border: 0;
  padding: 0 14px;
  height: 40px;
  width: auto;
  text-transform: uppercase;
  line-height: 40px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.5s;
  border: 2px solid #6F4E37;
  margin-left: 10px;
}
.quickview .quantity button.custom-cart:hover {
  color: #6F4E37;
  background: none;
}
.quickview .tags span a {
  color: #6F4E37;
}
.quickview .tags span a:hover {
  text-decoration: underline;
}

.modal-img {
  position: relative;
}
.modal-img .owl-theme .owl-nav button.owl-prev,
.modal-img .owl-theme .owl-nav button.owl-next {
  position: absolute;
  top: 30% !important;
  font-size: 30px !important;
  transition: 0.5s;
  color: #666;
  border: 0 !important;
  width: 0 !important;
  height: 0 !important;
}
.modal-img .owl-theme .owl-nav button.owl-prev:hover,
.modal-img .owl-theme .owl-nav button.owl-next:hover {
  color: #6F4E37 !important;
}
.modal-img .owl-theme .owl-nav button.owl-prev:focus,
.modal-img .owl-theme .owl-nav button.owl-next:focus {
  outline: none;
}
.modal-img .owl-theme .owl-nav button.owl-prev {
  left: 0;
}
.modal-img .owl-theme .owl-nav button.owl-next {
  right: 0;
}

footer {
  border-top: 1px solid #e1e1e1;
  padding-top: 30px;
}
footer .footer-top h3 {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: bold;
}
footer .footer-top ul li {
  margin-bottom: 15px;
}
footer .footer-top ul li a {
  transition: 0.3s;
}
footer .footer-top ul li a:hover {
  color: #6F4E37;
}
footer .footer-top .info img {
  margin-bottom: 15px;
}
footer .footer-bottom {
  padding: 15px;
  margin-top: 20px;
  border-top: 1px solid #e1e1e1;
}
footer .footer-bottom i {
  font-size: 16px;
  padding: 7px 9px;
  background: #585858;
  color: white;
  margin-left: 10px;
  border-radius: 5px;
  transition: 0.3s;
}
footer .footer-bottom i:hover {
  background: #6F4E37;
}

.slider {
  margin: 0 -50px;
  height: 90vh;
  overflow: hidden;
}
.slider .owl-theme .owl-nav button.owl-prev,
.slider .owl-theme .owl-nav button.owl-next {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  font-size: 60px;
  transition: 0.5s;
  color: white;
}
.slider .owl-theme .owl-nav button.owl-prev:hover,
.slider .owl-theme .owl-nav button.owl-next:hover {
  color: #6F4E37;
  background: none;
}
.slider .owl-theme .owl-nav button.owl-prev:focus,
.slider .owl-theme .owl-nav button.owl-next:focus {
  outline: none;
}
.slider .owl-theme .owl-nav button.owl-prev {
  left: 0;
}
.slider .owl-theme .owl-nav button.owl-next {
  right: 0;
}
.slider .owl-item img {
  width: auto;
  height: 100vh;
  filter: brightness(0.7);
}
.slider .slider-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1;
  text-align: center;
  width: 800px;
}
.slider .slider-text h1 {
  margin-bottom: 30px;
}
.slider .slider-text h1 a {
  text-transform: uppercase;
  font-weight: 600;
  border: 2px solid white;
  border-right: 0;
  border-left: 0;
  padding: 10px 0;
  cursor: default;
}

.cart {
  width: 400px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background: white;
  z-index: 1020;
  transform: translateX(100%);
  transition: 0.3s;
  display: grid;
  grid-template-rows: 100px calc(100% - 160px) 60px;
}
.cart.cart-out {
  transform: none;
}
.cart-header {
  padding: 30px 20px;
  background: #6F4E37;
  color: white;
}
.cart-header h3 {
  font-weight: bold;
  margin-top: 5px;
}
.cart-header i {
  font-size: 24px;
  margin-top: -10px;
}
.cart-header i.cart-close {
  cursor: pointer;
  transition: 0.5s;
}
.cart-header i.cart-close:hover {
  color: black;
}
.cart-header span {
  position: absolute;
  background: black;
  font-size: 10px;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  border-radius: 50%;
  bottom: 0;
  margin-left: -10px;
}
.cart-body {
  padding: 15px;
  max-height: 100%;
  overflow-y: scroll;
}
.cart-body::-webkit-scrollbar {
  width: 5px;
}
.cart-body::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.cart-body::-webkit-scrollbar-thumb {
  background: #888;
}
.cart-body::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.cart-body .box-product-cart {
  display: flex;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.cart-body .box-product-cart img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
.cart-body .box-product-cart-detail h5 {
  margin-bottom: 5px;
}
.cart-body .box-product-cart-detail h5 a {
  font-weight: 500;
  transition: 0.2s;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.cart-body .box-product-cart-detail h5 a:hover {
  color: #6F4E37;
}
.cart-body .box-product-cart-detail .quantity input {
  background: none;
  border: 0;
  width: 35px;
  margin-left: 20px;
  font-size: 14px;
  margin-bottom: 5px;
}
.cart-body .box-product-cart-detail .quantity button {
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
  background: black;
  border: 0;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  color: white;
  line-height: 19px;
}
.cart-body .box-product-cart-detail .quantity button:hover {
  background: #6F4E37;
}
.cart-body .box-product-cart-detail h4 {
  font-weight: bold;
  color: #6F4E37;
}
.cart-footer {
  z-index: 10;
  background: white;
  margin-top: 20px;
}
.cart-footer a {
  padding: 7px 15px;
  margin: 0 5px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 500;
  background: #959595;
  border: 2px solid #959595;
  color: white;
  font-size: 16px;
  transition: 0.5s;
}
.cart-footer a:hover {
  color: white;
  border-color: #6F4E37;
  background: #6F4E37;
}
.cart-footer a:nth-child(1) {
  color: #5E5E5E;
  background: none;
}
.cart-footer a:nth-child(1):hover {
  color: #6F4E37;
}

.welcome {
  margin-top: 60px;
  border-bottom: 2px solid #ccc;
  margin-bottom: 50px;
}
.welcome .title-welcome h1 {
  font-weight: bold;
}
.welcome .title-welcome h3 {
  text-transform: uppercase;
  color: #585858;
}
.welcome .box-welcome {
  margin-bottom: 40px;
}
.welcome .box-welcome i {
  font-size: 70px;
  color: #6F4E37;
}
.welcome .box-welcome h1 {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: -10px;
  margin-bottom: 10px;
}
.welcome .box-welcome h5 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #555555;
}
.welcome img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.aboutus .container-fluid {
  display: grid;
  grid-template-columns: 600px calc(100% - 630px);
  grid-column-gap: 30px;
}
.aboutus-img {
  height: 450px;
  position: relative;
}
.aboutus-img-left {
  overflow: hidden;
}
.aboutus-img-left img {
  height: 210px;
  max-width: fit-content;
  margin-bottom: 30px;
}
.aboutus-img-right {
  overflow: hidden;
}
.aboutus-img-right img {
  height: 450px;
  max-width: fit-content;
}
.aboutus-detail {
  margin-top: 100px;
}
.aboutus-detail h1 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}
.aboutus-detail h5 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.aboutus-detail-btn {
  margin-top: 40px;
}
.aboutus-detail-btn a {
  text-transform: uppercase;
  font-weight: 500;
  padding: 10px 15px;
  border: 2px solid #6F4E37;
  background: #6F4E37;
  color: white;
}
.aboutus-detail-btn a:hover {
  background: none;
  color: #6F4E37;
}
.aboutus-detail-btn a.contact {
  background: none;
  color: #6F4E37;
}
.aboutus-detail-btn a.contact:hover {
  color: black;
  border-color: black;
}
.aboutus-detail-btn span {
  margin: 0 10px;
}

.product {
  background: #f4f4f4;
  margin: 50px -50px;
  padding: 50px 0;
}
.product-zone {
  margin: 0 50px;
  display: grid;
  grid-template-columns: 125px calc(100% - 175px);
  grid-column-gap: 50px;
}
.product-zone.out {
  grid-column-gap: 30px;
}
.product-zone .product-nav .nav {
  border-bottom: 0;
  border-radius: 0;
}
.product-zone .product-nav .nav li {
  margin-bottom: 20px;
}
.product-zone .product-nav .nav li a {
  width: 125px;
  height: 125px;
  text-align: center;
  background: white;
  border: 2px solid white;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 13px;
  overflow: hidden;
}
.product-zone .product-nav .nav li a:hover {
  border-color: #6F4E37;
  color: #6F4E37;
}
.product-zone .product-nav .nav li a img {
  width: 50px;
  display: block;
  margin: auto;
  margin-bottom: 5px;
}
.product-zone .product-nav .nav li a.active {
  border-color: #6F4E37;
  color: #6F4E37;
}
.product-zone .product-nav .navbar.navbar-light {
  padding: 0;
  background: white;
  margin-bottom: 20px;
}
.product-zone .product-nav .navbar.navbar-light i {
  position: absolute;
  right: 10px !important;
  top: 10px !important;
  width: 20px;
  font-size: 20px;
}
.product-zone .product-nav .navbar.navbar-light li {
  margin-bottom: 0;
}
.product-zone .product-nav .navbar.navbar-light li a {
  width: 100%;
  height: 40px;
  text-align: left;
  border-radius: 0;
  padding-left: 20px;
}
.product-zone .product-nav .navbar.navbar-light li a.active {
  background: #6F4E37;
  color: white;
}
.product-zone .product-nav .navbar.navbar-light .navbar-nav .nav-item.active > .nav-link {
  color: white;
  background: #6F4E37;
}
.product-zone .product-nav .navbar.navbar-light .navbar-toggler {
  background: #e1e1e1;
  color: black;
  width: 100%;
  height: 50px;
  position: relative;
  font-size: 16px;
  line-height: 44px;
  text-transform: uppercase;
  border-radius: 0;
}
.product-zone .product-nav .navbar-brand {
  font-size: 16px;
  line-height: 38px;
}
.product .tab-content .tab-pane-product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}
.product .tab-content .tab-pane-product.out {
  grid-gap: 15px;
}
.product .tab-content .tab-pane-product.out .box-product-custom a.custom-quickview, .product .tab-content .tab-pane-product.out .box-product-custom a.custom-cart {
  padding-right: 5px;
  margin-right: 5px;
}

.box-product {
  border: 1px solid #e1e1e1;
  background: white;
  position: relative;
}
.box-product:hover .box-product-custom {
  opacity: 1;
  bottom: -45px;
  z-index: 1;
}
.box-product-img {
  margin-bottom: 15px;
  overflow: hidden;
}
.box-product-img:hover img {
  transform: scale(1.2);
}
.box-product-img img {
  transition: 0.3s;
}
.box-product-detail {
  padding: 0 10px;
  text-align: center;
  margin-bottom: 15px;
}
.box-product-detail h5 {
  margin-bottom: 10px;
}
.box-product-detail h5 a {
  transition: 0.3s;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.box-product-detail h5 a:hover {
  color: #6F4E37;
}
.box-product-detail h4 {
  color: #6F4E37;
  font-weight: 500;
}
.box-product-custom {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #e1e1e1;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.15);
  z-index: 0;
  margin-top: -50px;
  opacity: 0;
  transition: 0.5s;
  position: absolute;
  bottom: -20px;
  background: white;
}
.box-product-custom a {
  font-size: 16px;
  transition: 0.3s;
}
.box-product-custom a:hover {
  color: #6F4E37;
}
.box-product-custom a.custom-quickview, .box-product-custom a.custom-cart {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #e1e1e1;
}
.box-product-custom a.custom-quickview:hover, .box-product-custom a.custom-cart:hover {
  color: #6F4E37;
}
.box-product-custom a.custom-cart i {
  padding-right: 5px;
}

.box-news {
  border: 1px solid #e1e1e1;
}
.box-news-detail {
  padding: 20px;
}
.box-news-detail h3 {
  margin-bottom: 10px;
}
.box-news-detail h3 a {
  transition: 0.3s;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: 500;
}
.box-news-detail h3 a:hover {
  color: #6F4E37;
}
.box-news-detail h5 {
  text-transform: uppercase;
  margin-bottom: 15px;
}
.box-news-detail h5 span {
  color: #585858;
  margin-left: 10px;
}
.box-news-detail p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #585858;
}
.box-news-detail-btn a {
  padding: 7px 30px;
  border-radius: 40px;
  text-align: center;
  line-height: 40px;
  border: 2px solid #6F4E37;
  font-size: 14px;
  color: #6F4E37;
}
.box-news-detail-btn a:hover {
  color: white;
  background: #6F4E37;
}
.box-news-img img {
  transition: 0.3s;
}
.box-news-img img:hover {
  filter: brightness(0.7);
}

.letter {
  margin: 50px -50px;
  margin-bottom: 0;
  padding: 100px 0;
  background-image: url("../img/bg-letter.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.letter .box-letter h4, .letter .box-letter h3 {
  margin-bottom: 5px;
  text-transform: uppercase;
  color: white;
}
.letter .box-letter h3 {
  font-weight: 500;
  margin-bottom: 15px;
}
.letter .box-letter input {
  width: 400px;
  margin: auto;
  display: inline-block;
  height: 40px;
  background: none;
  color: white;
}
.letter .box-letter button {
  padding: 8px 20px;
  margin: 0;
  margin-top: -4px;
  margin-left: 10px;
  color: black;
  border: 2px solid white;
  background: white;
}
.letter .box-letter button:hover {
  background: none;
  color: white;
}

.bg-page {
  padding: 50px 0;
  background-image: url("../img/bg-page.png");
  background-position: center;
  background-size: cover;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 15px;
}

.news-page .news-zone, .page-text .news-zone {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}
.news-page .news-detail, .page-text .news-detail {
  color: #585858;
  margin-bottom: 40px;
}
.news-page .news-detail h2, .page-text .news-detail h2 {
  font-weight: 500;
  margin-bottom: 10px;
  color: black;
}
.news-page .news-detail h5, .page-text .news-detail h5 {
  color: #6F4E37;
  margin-bottom: 15px;
}
.news-page .news-detail h4, .page-text .news-detail h4 {
  font-weight: 500;
  margin-bottom: 20px;
  color: black;
}
.news-page .news-detail img, .page-text .news-detail img {
  margin-bottom: 20px;
}

.contact-page {
  margin-bottom: 50px;
}
.contact-page .box-contact {
  color: black;
}
.contact-page .box-contact input {
  height: 40px;
}
.contact-page .box-contact textarea {
  height: 100px;
}

.product-page {
  margin-bottom: 50px;
}
.product-page .container-fluid {
  display: grid;
  grid-template-columns: 250px calc(100% - 280px);
  grid-gap: 30px;
}
.product-page .left .filter-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #6F4E37;
}
.product-page .left .filter {
  border: 1px solid #e1e1e1;
  padding: 20px 10px;
  padding-bottom: 0;
  margin-bottom: 30px;
}
.product-page .left .filter h3 {
  text-transform: uppercase;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e1e1e1;
  font-weight: 500;
}
.product-page .left .filter-price {
  margin-bottom: 30px;
}
.product-page .left .filter-price .check-box {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  user-select: none;
}
.product-page .left .filter-price .check-box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.product-page .left .filter-price .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
}
.product-page .left .filter-price .check-box:hover input ~ .checkmark {
  background-color: #ccc;
}
.product-page .left .filter-price .check-box input:checked ~ .checkmark {
  background-color: #6F4E37;
}
.product-page .left .filter-price .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.product-page .left .filter-price .check-box input:checked ~ .checkmark:after {
  display: block;
}
.product-page .left .filter-price .check-box .checkmark:after {
  left: 7px;
  top: 2px;
  width: 5px;
  height: 13px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.product-page .left .filter-price .check-box:hover {
  color: #6F4E37;
}
.product-page .left .filter .seller .product-left {
  display: flex;
  margin-bottom: 20px;
}
.product-page .left .filter .seller .product-left-img {
  margin-right: 15px;
}
.product-page .left .filter .seller .product-left-img img {
  width: 130px;
  border: 1px solid #e1e1e1;
  transition: 0.3s;
}
.product-page .left .filter .seller .product-left-img img:hover {
  filter: brightness(0.8);
}
.product-page .left .filter .seller .product-left-detail h5 {
  margin-bottom: 10px;
}
.product-page .left .filter .seller .product-left-detail h5 a {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  transition: 0.3s;
  font-size: 14px;
}
.product-page .left .filter .seller .product-left-detail h5 a:hover {
  color: #6F4E37;
}
.product-page .left .filter .seller .product-left-detail h4 {
  font-weight: 500;
  color: #6F4E37;
  font-size: 16px;
}
.product-page .left .banner-left {
  overflow: hidden;
  margin-bottom: 30px;
}
.product-page .left .banner-left:hover img {
  transform: scale(1.3);
}
.product-page .left .banner-left img {
  transition: 1s;
}
.product-page .main h2 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}
.product-page .main .main-custom {
  display: grid;
  grid-template-columns: 150px calc(100% - 320px) 170px;
  margin-bottom: 30px;
  font-size: 14px;
}
.product-page .main .main-custom span {
  margin-right: 5px;
}
.product-page .main .main-custom .type {
  margin-top: 7px;
}
.product-page .main .main-custom .type i {
  padding: 8px 9px;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  margin-right: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.product-page .main .main-custom .type i.active, .product-page .main .main-custom .type i:hover {
  background: #6F4E37;
  color: white;
  border-color: #6F4E37;
}
.product-page .main .main-custom .sort select {
  height: 35px;
  width: 180px;
  display: inline-block;
  font-size: 14px;
}
.product-page .main .main-custom .sort select:focus {
  box-shadow: none;
  border-color: #6F4E37;
}
.product-page .main .main-custom .view select {
  display: inline-block;
  width: 45px;
  height: 35px;
  padding: 0;
  margin-right: 5px;
  font-size: 14px;
}
.product-page .main .main-custom .view select:focus {
  box-shadow: none;
  border-color: #6F4E37;
}
.product-page .main .main-product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}
.product-page .main .main-product .box-product-detail p {
  display: none;
}
.product-page .main .main-product.main-product-list {
  grid-template-columns: 1fr;
  grid-column-gap: 30px;
}
.product-page .main .main-product.main-product-list .box-product {
  display: flex;
}
.product-page .main .main-product.main-product-list .box-product-img {
  width: 40%;
  display: inline-block;
  overflow: inherit;
}
.product-page .main .main-product.main-product-list .box-product-img:hover img {
  transform: none;
  filter: brightness(1);
}
.product-page .main .main-product.main-product-list .box-product-img img {
  border-radius: 5px;
}
.product-page .main .main-product.main-product-list .box-product-img img:hover {
  filter: brightness(0.7);
}
.product-page .main .main-product.main-product-list .box-product-detail {
  text-align: left !important;
  width: calc(60% - 30px);
  border-top: 0;
  padding: 15px;
  z-index: 2;
  margin-left: 15px;
}
.product-page .main .main-product.main-product-list .box-product-detail h5 a {
  font-size: 20px;
}
.product-page .main .main-product.main-product-list .box-product-detail p {
  display: block;
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid #e1e1e1;
  margin-bottom: 50px;
}
.product-page .main .main-product.main-product-list .box-product-custom {
  bottom: 20px;
  opacity: 1;
  z-index: 10;
  width: 200px;
  left: calc(40% + 30px);
  box-shadow: none;
  border-top: 0;
}
.product-page .main .main-product.main-product-list .box-product-custom a {
  display: none;
}
.product-page .main .main-product.main-product-list .box-product-custom a.custom-cart {
  display: block;
  padding-right: 0;
  margin-right: 0;
  border-right: 0;
  color: white;
  background: #6F4E37;
  border-radius: 5px;
  height: 40px;
  line-height: 36px;
  border: 2px solid #6F4E37;
}
.product-page .main .main-product.main-product-list .box-product-custom a.custom-cart:hover {
  color: #6F4E37;
  border-color: #6F4E37;
  background: none;
}
.product-page .main .product-detail-1-img .xzoom-thumbs {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 0 50px;
  position: relative;
}
.product-page .main .product-detail-1-img .xzoom-thumbs .xzoom-gallery:hover {
  border-color: #6F4E37;
}
.product-page .main .product-detail-1-img .xzoom-thumbs .xactive {
  border-color: #6F4E37;
  box-shadow: 0px 0px 3px 0px #6F4E37;
}
.product-page .main .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-prev,
.product-page .main .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-next {
  position: absolute;
  top: 40%;
  font-size: 30px;
  transition: 0.5s;
  transform: translateY(-50%);
}
.product-page .main .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-prev:hover, .product-page .main .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-prev:focus,
.product-page .main .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-next:hover,
.product-page .main .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-next:focus {
  color: #6F4E37;
  background: none;
  outline: none;
}
.product-page .main .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-prev {
  left: -12%;
}
.product-page .main .product-detail-1-img .xzoom-thumbs .owl-theme .owl-nav button.owl-next {
  right: -12%;
}
.product-page .main .product-detail-1-detail {
  color: #585858;
  margin-bottom: 30px;
}
.product-page .main .product-detail-1-detail h2 {
  font-weight: bold;
  margin-bottom: 15px;
  color: black;
}
.product-page .main .product-detail-1-detail h4 {
  color: #6F4E37;
  font-weight: bold;
  margin-bottom: 20px;
}
.product-page .main .product-detail-1-detail h4 span {
  color: #585858;
  font-weight: 400;
  text-decoration: line-through;
  margin-left: 30px;
}
.product-page .main .product-detail-1-detail h5 {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e1e1e1;
}
.product-page .main .product-detail-1-detail .quantity a {
  margin: 0 10px;
  transition: 0.5s;
}
.product-page .main .product-detail-1-detail .quantity a:hover {
  color: #6F4E37;
}
.product-page .main .product-detail-1-detail .quantity input {
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid #959595;
  background: none;
  color: #585858;
  outline-color: #6F4E37;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-left: 5px;
}
.product-page .main .product-detail-1-detail .quantity button {
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
  background: black;
  border: 0;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  color: white;
  line-height: 19px;
}
.product-page .main .product-detail-1-detail .quantity button:hover {
  background: #6F4E37;
}
.product-page .main .product-detail-1-detail .quantity button.custom-cart {
  background: #6F4E37;
  color: white;
  height: 40px;
  width: 130px;
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.5s;
  border: 2px solid #6F4E37;
  margin-left: 5px;
}
.product-page .main .product-detail-1-detail .quantity button.custom-cart:hover, .product-page .main .product-detail-1-detail .quantity button.custom-cart:focus {
  background: none;
  color: #6F4E37;
  box-shadow: none;
  outline: none;
}
.product-page .main .product-detail-2-title .nav-tabs {
  border-bottom: 2px solid #383838;
  margin-bottom: 30px;
}
.product-page .main .product-detail-2-title .nav-tabs .nav-item {
  margin-bottom: -2px;
}
.product-page .main .product-detail-2-title .nav-tabs .nav-item .nav-link {
  padding-bottom: 11px;
  border: none;
  border-bottom: 2px solid #383838;
  transition: 0.5s;
  font-weight: bold;
}
.product-page .main .product-detail-2-title .nav-tabs .nav-item .nav-link.active, .product-page .main .product-detail-2-title .nav-tabs .nav-item .nav-link:hover {
  background: none;
  border: none;
  border-bottom: 2px solid #6F4E37;
  padding-bottom: 11px;
  color: #6F4E37;
}
.product-page .similar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}
.product-page .similar-title {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 2px solid #ccc;
}
.product-page .similar-title h1 {
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.cart-page {
  margin-top: 40px;
  margin-bottom: 40px;
}
.cart-page-product {
  margin-bottom: 30px;
}
.cart-page-product table {
  border: 1px solid #e1e1e1;
}
.cart-page-product table thead {
  background: #f4f4f4;
  border: none;
}
.cart-page-product table thead th {
  border-right: 1px solid #e1e1e1;
  text-align: center;
  font-weight: 500;
}
.cart-page-product table tbody td {
  text-align: center;
}
.cart-page-product table tbody h4 {
  font-weight: bold;
}
.cart-page-product .table-dark {
  background: transparent;
}
.cart-page-product .table-responsive > .table-bordered {
  border-top: 1px solid #e1e1e1;
  background: white;
}
.cart-page-product-1 {
  text-align: left !important;
  color: black;
}
.cart-page-product-1 img {
  width: 100px;
  float: left;
  margin-right: 10px;
}
.cart-page-product-1 h5 {
  transition: 0.5s;
}
.cart-page-product-1 h5 a {
  color: black;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: 500;
}
.cart-page-product-1 h5 a:hover {
  color: #6F4E37;
}
.cart-page-product-1 i {
  margin-top: 5px;
  transition: 0.5s;
  color: black;
  font-size: 20px;
}
.cart-page-product-1 i:hover {
  color: #6F4E37;
}
.cart-page-product .quantity {
  text-align: center;
}
.cart-page-product .quantity input {
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid #959595;
  background: none;
  color: #585858;
  outline-color: #6F4E37;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-left: 5px;
}
.cart-page-product .quantity button {
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
  background: #959595;
  border: 0;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  color: white;
  line-height: 19px;
  margin-bottom: 5px;
}
.cart-page-product .quantity button:hover {
  background: #6F4E37;
}
.cart-page-product-3 h4 {
  color: #6F4E37;
}
.cart-page-total {
  border: 1px solid #e1e1e1;
  padding: 10px;
  margin-bottom: 30px;
  color: black;
  background: white;
}
.cart-page-total-title {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 10px;
  font-weight: 500;
}
.cart-page-total .table-dark {
  background: none;
  font-size: 12px;
}
.cart-page-total .table-dark .total-over {
  color: #6F4E37;
}
.cart-page-total input {
  height: 40px;
  width: 100%;
  border: 1px solid #e1e1e1;
  background: none;
  padding-left: 10px;
  font-style: italic;
  color: #cccccc;
}
.cart-page-total input:focus {
  outline-color: #6F4E37;
}
.cart-page-total button {
  background: #383838;
  color: #cccccc;
  border: none;
  padding: 5px 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.cart-page-total button:hover, .cart-page-total button:focus {
  background: #6F4E37;
  color: black;
  outline: none;
}
.cart-page-total-btn {
  border-top: 1px solid #e1e1e1;
  margin-top: 10px;
  padding-top: 10px;
}
.cart-page-total-btn button {
  text-transform: uppercase;
  width: 100%;
  height: 40px;
  color: white;
  background: #6F4E37;
  border: 2px solid #6F4E37;
  border-radius: 3px;
}
.cart-page-total-btn button a {
  font-weight: bold;
  color: white;
}
.cart-page-total-btn button:hover {
  background: none;
}
.cart-page-total-btn button:hover a {
  color: #6F4E37;
}
.cart-page-btn button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #383838;
  margin-left: 5px;
  margin-bottom: 30px;
}
.cart-page-btn button:hover {
  color: white;
  background: #6F4E37;
}
.cart-page-btn a {
  text-transform: uppercase;
  padding: 10px 15px;
  background: #cccccc;
  color: #383838;
  transition: 0.3s;
  border-radius: 3px;
  font-weight: 500;
}
.cart-page-btn a:hover {
  color: white;
  background: #6F4E37;
}

.pay-page {
  margin: 40px 0;
  color: black;
}
.pay-page-title h4 {
  margin-bottom: 20px;
  font-weight: bold;
  color: white;
}
.pay-page .pay-info-1 {
  border: 1px solid #e1e1e1;
  padding: 10px;
  padding-bottom: 0;
  margin-bottom: 30px;
  background: white;
}
.pay-page .pay-info-1 input,
.pay-page .pay-info-1 select {
  height: 40px;
  border: 1px solid #e1e1e1;
  background: none;
  color: #585858;
  font-size: 14px;
}
.pay-page .pay-info-1 input:hover, .pay-page .pay-info-1 input:focus,
.pay-page .pay-info-1 select:hover,
.pay-page .pay-info-1 select:focus {
  box-shadow: 0 0 0 0.1rem #6F4E37;
}
.pay-page .pay-info-1 textarea {
  background: none;
  border: 1px solid #e1e1e1;
  height: 100px;
  font-size: 14px;
}
.pay-page .pay-info-1 textarea:hover, .pay-page .pay-info-1 textarea:focus {
  box-shadow: 0 0 0 0.1rem #6F4E37;
}
.pay-page .pay-info-1 .form-group {
  margin-bottom: 20px;
}
.pay-page .pay-info-2 {
  border: 1px solid #e1e1e1;
  padding: 10px;
  color: #585858;
  background: white;
}
.pay-page .pay-info-2 td {
  text-align: center;
}
.pay-page .pay-info-2 .pay-total {
  color: #6F4E37;
  font-weight: 500;
  font-size: 16px;
}
.pay-page .pay-info-2-btn {
  margin-top: 20px;
  margin-bottom: 20px;
}
.pay-page .pay-info-2-btn button {
  background: none;
  color: #585858;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}
.pay-page .pay-info-2-btn button:focus {
  outline: none;
}
.pay-page .pay-info-2-btn a {
  background: #cccccc;
  color: #585858;
  padding: 10px 15px;
  border-radius: 3px;
  transition: 0.3s;
  font-weight: 500;
  text-transform: uppercase;
}
.pay-page .pay-info-2-btn a:hover {
  background: #6F4E37;
  color: white;
}
.pay-page .pay-info-2-btn .order-btn {
  padding: 8px 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background: #6F4E37;
  border: 2px solid #6F4E37;
}
.pay-page .pay-info-2-btn .order-btn:hover {
  background: none;
  color: #6F4E37;
}
.pay-page .pay-order {
  border: 1px solid #e1e1e1;
  padding: 10px;
  margin-bottom: 30px;
  background: white;
}
.pay-page .pay-order p {
  margin: 0;
}
.pay-page .pay-order .box-pay-order {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #e1e1e1;
}
.pay-page .pay-order .box-pay-order img {
  width: 100px;
  margin-right: 10px;
  float: left;
  position: relative;
}
.pay-page .pay-order .box-pay-order h5 {
  margin-bottom: 5px;
}
.pay-page .pay-order .box-pay-order h5 a {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  transition: 0.5s;
}
.pay-page .pay-order .box-pay-order h5 a:hover {
  color: #6F4E37;
}
.pay-page .pay-order .box-pay-order h4 {
  color: #6F4E37;
}

@media (max-width: 1400px) {
  article {
    margin: 30px;
    margin-top: 60px;
    margin-bottom: 0;
  }

  .slider {
    margin: 0 -30px;
  }

  .product {
    margin: 50px -30px;
  }
  .product-zone {
    margin: 0 30px;
  }

  .letter {
    margin: 50px -30px;
    margin-bottom: 0;
  }

  aside.aside-mini {
    width: 70px;
    transition: all 0.25s ease;
  }
  aside.aside-mini ul li {
    padding-left: 3px !important;
  }
  aside.aside-mini ul li a {
    margin: 15px 0;
  }
  aside.aside-mini ul li a i {
    padding: 20px;
  }
  aside .menu ul.nav li .menu-title.mini, aside .menu ul.nav li .menu-down.mini {
    display: none;
  }
  aside .logo {
    text-align: center;
    padding: 10px 15px;
    height: 60px;
    border-bottom: 1px solid #e1e1e1;
  }
  aside .logo .logo-large, aside .logo .logo-mini {
    transition: width 0.25s ease;
  }
  aside .logo .logo-large-mini {
    display: none;
  }
  aside .logo .logo-mini {
    display: none;
  }
  aside .logo .logo-mini-mini {
    display: block;
  }

  main.main-mini {
    width: calc(100% - 70px);
    margin-left: 70px;
  }

  header.header-mini {
    width: calc(100% - 70px);
  }
  header .menu-btn {
    display: block;
  }

  .aboutus .container-fluid {
    grid-template-columns: 500px calc(100% - 530px);
  }

  .product-page .main .main-product {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .product-page .similar {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .news-page .news-zone {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 1200px) {
  .overlay-menu {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1001;
    display: none;
    background: rgba(0, 0, 0, 0.2);
  }
  .overlay-menu.overlay-in {
    display: block;
    cursor: url("../img/cursor.png"), auto;
  }

  aside {
    transform: translateX(-250px);
    transition: 0.25s;
    z-index: 1011;
  }
  aside.aside-mini {
    transform: none;
    width: 250px;
  }
  aside.aside-mini ul li {
    padding-left: 0 !important;
  }
  aside.aside-mini ul li a span {
    display: inline-block !important;
  }
  aside.aside-mini ul li .sub-menu li a {
    padding: 0 20px;
  }
  aside.aside-mini .logo .logo-mini {
    display: none;
  }
  aside.aside-mini .logo .logo-large {
    display: block;
  }
  aside.aside-mini .menu-down {
    display: block !important;
  }

  main {
    width: 100%;
    margin-left: 0;
    font-size: calc(9px + 0.3vmax);
  }
  main.main-mini {
    width: 100%;
    margin-left: 0;
  }

  header {
    width: 100%;
  }
  header.header-mini {
    width: 100%;
  }

  .slider {
    height: auto;
  }
  .slider .owl-item img {
    height: 50vh;
  }

  .welcome {
    margin-top: 30px;
  }

  .product .tab-content .tab-pane-product {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .product .tab-content .tab-pane-product.out {
    grid-gap: 30px;
  }

  .product-zone.out {
    grid-gap: 50px;
  }

  .box-product-custom a.custom-quickview, .box-product-custom a.custom-cart {
    margin-right: 5px;
    padding-right: 5px;
  }
}
@media (max-width: 992px) {
  main {
    font-size: calc(8px + 0.4vmax);
  }

  .slider .slider-text {
    width: 600px;
  }

  .aboutus .container-fluid {
    grid-template-columns: 300px calc(100% - 330px);
  }

  .product-zone {
    grid-gap: 30px;
  }

  .product .tab-content .tab-pane-product,
.product-page .similar {
    grid-gap: 15px;
  }

  .product-page .container-fluid {
    display: block;
  }
  .product-page .container-fluid .left {
    width: 250px;
    height: 100vh;
    overflow: scroll;
    position: fixed;
    background: white;
    z-index: 1010;
    top: 0;
    left: 0;
    transform: translateX(-250px);
    transition: 0.3s;
    padding: 0 10px;
  }
  .product-page .container-fluid .left.left-out {
    transform: none;
  }
  .product-page .container-fluid .left .filter {
    border: 0;
  }
  .product-page .container-fluid .main {
    position: relative;
  }
  .product-page .container-fluid .main .filter-btn {
    font-size: 14px;
    padding: 5px 15px;
    background: #6F4E37;
    position: absolute;
    right: 0;
    color: white;
  }
  .product-page .container-fluid .main .filter-btn i {
    padding-right: 5px;
  }

  .news-page .news-zone {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 767px) {
  article {
    margin: 0;
    margin-top: 80px;
  }

  .aboutus .container-fluid {
    grid-template-columns: 1fr;
  }
  .aboutus-img {
    height: auto;
  }
  .aboutus-img-left img {
    height: auto;
    max-width: 100%;
  }
  .aboutus-detail {
    margin-top: 0;
  }

  .product {
    margin: 50px 0;
  }
  .product-zone {
    display: block;
  }

  .letter {
    margin: 50px 0;
    margin-bottom: 0;
    padding: 30px 0;
  }
  .letter .box-letter input {
    width: 100%;
    margin-bottom: 20px;
  }

  .product-page .main .main-custom {
    display: flex;
  }
  .product-page .main .main-custom .sort {
    margin-right: 20px;
  }
  .product-page .main .main-custom .sort select {
    width: 150px;
  }
  .product-page .main .main-product {
    grid-gap: 15px;
  }

  .bg-page {
    margin-top: 0;
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  .cart {
    width: 300px;
    grid-template-rows: 60px calc(100% - 120px) 60px;
  }
  .cart-header {
    padding: 10px 20px;
  }
  .cart-footer a {
    font-size: 14px;
  }

  .product .tab-content .tab-pane-product {
    grid-template-columns: 1fr 1fr;
  }
  .product-zone {
    margin: 0 15px;
  }

  .product-page .main .main-product {
    grid-template-columns: 1fr 1fr;
  }

  .product-page .main .main-custom span {
    display: none;
  }

  .box-product-custom {
    display: none;
  }

  .product-page .similar {
    grid-template-columns: 1fr 1fr;
  }

  .news-page .news-zone {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=layout.css.map */
