<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Nội thất Đại Phú
    link(rel='stylesheet', href='../css/bootstrap.min.css')
    link(rel='stylesheet', href='../css/mdb.min.css')
    link(rel='stylesheet', href='../css/owl.carousel.min.css')
    link(rel='stylesheet', href='../css/owl.theme.default.min.css')
    link(rel='stylesheet', href='../css/xzoom.css')
    link(rel='stylesheet', href='../css/magnific-popup.css')
    link(rel='stylesheet', href='../css/animate.min.css')
    link(rel='stylesheet', href='../css/jquery.fancybox.min.css')
    link(rel='stylesheet', href='../css/materialdesignicons.min.css')
    link(rel='stylesheet', href='../css/sweetalert2.min.css')
    link(rel="stylesheet", href="../css/jquery-ui.min.css")
    link(rel='stylesheet', href='../css/layout.css')
    link(rel='shortcut icon', href='../img/favicon.png')
  body
    .go-top.wow.zoomInRight(title='Lên đầu trang', data-wow-duration='2s')
      span
      span

    block header
      header
        section.header-top
          .container
            .logo
              a(href='index.html')
                img(src='../img/logo.png')
            
            .search
              form
                input.form-control(type='text', placeholder='Nhập từ khóa . . .')
                select.form-control
                  option(value="") Cánh cửa gỗ
                  option(value="") Bàn ghế gỗ phòng khách
                button
                  i.mdi.mdi-magnify
            
            .contact.text-right
              .box-contact
                span 028.6296.0894 - 0962.37.55.79
                i.mdi.mdi-phone-classic
              .box-contact
                span info@triviet.net
                i.mdi.mdi-email-variant
              .box-contact
                span 311K13 Đường 8, KP1, P. An Phú, Quận 2, TP.HCM
                i.mdi.mdi-map-marker-radius
              
        section.menu.wow
          .container
            .sidebar
              .category-btn
                a.btn.btn-light(data-toggle='collapse', href='#sidebar', aria-expanded='false', aria-controls='sidebar')
                  | danh mục sản phẩm
                  i.mdi.mdi-view-list
              #sidebar.collapse.show.category
                ul
                  li
                    a(href='san-pham.html') Cánh cửa gỗ
                  li
                    a(href='san-pham.html') Bàn ghế gỗ phòng khách
                  li
                    a(href='san-pham.html') Giường ngủ
                  li
                    a(href='san-pham.html') Tủ bếp
                  li
                    a(href='san-pham.html') Bàn ăn
                  li
                    a(href='san-pham.html') Tủ thờ
                  li
                    a(href='san-pham.html') 
                      | Xem tất cả
                      i.mdi.mdi-arrow-right


            .right
              .main-menu
                a.toggleMenu
                  i.mdi.mdi-menu
                a.search-btn.d-block.d-md-none
                  i.mdi.mdi-magnify
                a.cart-btn(title='Nhấn để xem giỏ hàng')
                  i.mdi.mdi-cart
                  span 10

                ul.nav
                  .nav-close
                    i.mdi.mdi-close.d-block.d-lg-none
                  li.nav-item
                    a(href='index.html') Trang chủ
                  li.nav-item
                    a(href='gioi-thieu.html') Giới thiệu
                  li.nav-item
                    a(href='cong-trinh.html') Công trình
                  li.nav-item
                    a(href='tin-tuc.html') Tin tức
                  li.nav-item
                    a(href='lien-he.html') Liên hệ

              .slider
                .owl-carousel.slider-carousel.owl-theme
                  .item
                    a(href='san-pham.html')
                      img(src='../img/slider-1.png')
                  .item
                    a(href='san-pham.html')
                      img(src='../img/slider-1.png')
                  .item
                    a(href='san-pham.html')
                      img(src='../img/slider-1.png')
                

        .cart
          .cart-header
            .row
              .col-2
                i.mdi.mdi-close.cart-close(title='Đóng')
              .col-8.text-center
                h3 GIỎ HÀNG
              .col-2.text-right
                i.mdi.mdi-cart
                span 10
          .cart-body
            .box-product-cart
              img(src='../img/product-1.png')
              .box-product-cart-detail
                h5
                  a(href="chi-tiet-san-pham.html") Mèo thần tài
                .quantity
                  button.waves-effect.waves-light -
                  input(type='number', value='1', min='1')
                  button.waves-effect.waves-light +
                h4 Giá: Liên hệ
            
            .box-product-cart
              img(src='../img/product-2.png')
              .box-product-cart-detail
                h5
                  a(href="chi-tiet-san-pham.html") Mèo thần tài
                .quantity
                  button.waves-effect.waves-light -
                  input(type='number', value='1', min='1')
                  button.waves-effect.waves-light +
                h4 Giá: Liên hệ
            
            .box-product-cart
              img(src='../img/product-1.png')
              .box-product-cart-detail
                h5
                  a(href="chi-tiet-san-pham.html") Mèo thần tài
                .quantity
                  button.waves-effect.waves-light -
                  input(type='number', value='1', min='1')
                  button.waves-effect.waves-light +
                h4 Giá: Liên hệ
            
            .box-product-cart
              img(src='../img/product-2.png')
              .box-product-cart-detail
                h5
                  a(href="chi-tiet-san-pham.html") Mèo thần tài
                .quantity
                  button.waves-effect.waves-light -
                  input(type='number', value='1', min='1')
                  button.waves-effect.waves-light +
                h4 Giá: Liên hệ
            
            .box-product-cart
              img(src='../img/product-1.png')
              .box-product-cart-detail
                h5
                  a(href="chi-tiet-san-pham.html") Mèo thần tài
                .quantity
                  button.waves-effect.waves-light -
                  input(type='number', value='1', min='1')
                  button.waves-effect.waves-light +
                h4 Giá: Liên hệ
            
            .box-product-cart
              img(src='../img/product-1.png')
              .box-product-cart-detail
                h5
                  a(href="chi-tiet-san-pham.html") Mèo thần tài
                .quantity
                  button.waves-effect.waves-light -
                  input(type='number', value='1', min='1')
                  button.waves-effect.waves-light +
                h4 Giá: Liên hệ
            
            .box-product-cart
              img(src='../img/product-1.png')
              .box-product-cart-detail
                h5
                  a(href="chi-tiet-san-pham.html") Mèo thần tài
                .quantity
                  button.waves-effect.waves-light -
                  input(type='number', value='1', min='1')
                  button.waves-effect.waves-light +
                h4 Giá: Liên hệ
            
            .box-product-cart
              img(src='../img/product-1.png')
              .box-product-cart-detail
                h5
                  a(href="chi-tiet-san-pham.html") Mèo thần tài
                .quantity
                  button.waves-effect.waves-light -
                  input(type='number', value='1', min='1')
                  button.waves-effect.waves-light +
                h4 Giá: Liên hệ
            
            .box-product-cart
              img(src='../img/product-1.png')
              .box-product-cart-detail
                h5
                  a(href="chi-tiet-san-pham.html") Mèo thần tài
                .quantity
                  button.waves-effect.waves-light -
                  input(type='number', value='1', min='1')
                  button.waves-effect.waves-light +
                h4 Giá: Liên hệ
            
            

          .cart-footer.text-center
            a(href="gio-hang.html") vào giỏ hàng
            a(href="thanh-toan.html") thanh toán

        .overlay-menu
        .overlay

        

    block article
    
    block footer
      section.footer
        .container
          .contact
            .box-contact.name.d-block.d-md-none
              h2 Nội thất gỗ cao cấp Đại Phú
            .box-contact.address
              i.mdi.mdi-map-marker-radius
              h5 311 K13 Đường 8, Khu phố 1, Phường An Phú, Quận 2, Tp. Hồ Chí Minh
            .box-contact.phone
              i.mdi.mdi-phone-classic
              h5 028.6296.0894 - 0962.37.55.79
            .box-contact.email
              i.mdi.mdi-email-variant
              h5 info@triviet.net
            
          .right.d-none.d-md-block
            .row
              .col-xl-6.col-lg-5
                .info
                  h4 thông tin công ty
                  h5 NỘI THẤT GỖ CAO CẤP ĐẠI PHÚ
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, minima? Vel maxime ut reiciendis quos! Officia perspiciatis nostrum hic repudiandae cupiditate iste? Fugit expedita necessitatibus veniam molestias officiis provident laudantium?
              .col-xl-3.col-lg-3.d-none.d-lg-block
                .link
                  h4 liên kết
                  ul
                    li
                      a(href='index.html') Trang chủ
                    li
                      a(href='gioi-thieu.html') Giới thiệu
                    li
                      a(href='cong-trinh.html') Công trình
                    li
                      a(href='tin-tuc.html') Tin tức
                    li
                      a(href='lien-he.html') Liên hệ
              .col-xl-3.col-lg-4.d-none.d-lg-block
                .cate-bot
                  h4 danh mục
                  ul
                    li
                      a(href='san-pham.html') Cánh cửa gỗ
                    li
                      a(href='san-pham.html') Bàn ghế gỗ phòng khách
                    li
                      a(href='san-pham.html') Giường ngủ
                    li
                      a(href='san-pham.html') Tủ bếp
                    li
                      a(href='san-pham.html') Bàn ăn
                    li
                      a(href='san-pham.html') Tủ thờ
                    
            .copyright
              h5 Copyright @ 2018 Noi that go cao cap Dai Phu. All Reserved. Designed by Tri Viet        
                    
                    
                    


      script(src='../js/jquery-3.3.1.min.js')
      script(src='../js/bootstrap.min.js')
      script(src='../js/mdb.min.js')
      script(src='../js/owl.carousel.min.js')
      script(src='../js/wow.min.js')
      script(src='../js/xzoom.min.js')
      script(src='../js/magnific-popup.js')
      script(src='../js/jquery.fancybox.min.js')
      script(src='../js/sweetalert2.min.js')
      script(src='../js/jquery-ui.min.js')
      script(src='../js/layout.js')
