extends _inc


block article
  article
    section.bread-crumb
      .container
        .bc-icons
          nav(aria-label='breadcrumb')
            ol.breadcrumb
              li.breadcrumb-item
                a(href='index.html') Trang chủ
              li.breadcrumb-item
                a(href='cong-trinh.html') Công trình
              li.breadcrumb-item.active Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, earum!
    
    section.page-text
      .container
        h2 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti, reiciendis.
        h5 
          i.mdi.mdi-clock
          | 22/2/2018
        h4 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium quasi ea sapiente consequatur obcaecati vitae cum veniam doloremque? Quae, tenetur?
        img(src='../img/construction-1.png')
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis unde accusantium autem rerum blanditiis ad soluta quaerat libero veritatis, vitae possimus recusandae tempore eum iusto, repellat in, quasi asperiores quod.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis unde accusantium autem rerum blanditiis ad soluta quaerat libero veritatis, vitae possimus recusandae tempore eum iusto, repellat in, quasi asperiores quod.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis unde accusantium autem rerum blanditiis ad soluta quaerat libero veritatis, vitae possimus recusandae tempore eum iusto, repellat in, quasi asperiores quod.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis unde accusantium autem rerum blanditiis ad soluta quaerat libero veritatis, vitae possimus recusandae tempore eum iusto, repellat in, quasi asperiores quod.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis unde accusantium autem rerum blanditiis ad soluta quaerat libero veritatis, vitae possimus recusandae tempore eum iusto, repellat in, quasi asperiores quod.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis unde accusantium autem rerum blanditiis ad soluta quaerat libero veritatis, vitae possimus recusandae tempore eum iusto, repellat in, quasi asperiores quod.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis unde accusantium autem rerum blanditiis ad soluta quaerat libero veritatis, vitae possimus recusandae tempore eum iusto, repellat in, quasi asperiores quod.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis unde accusantium autem rerum blanditiis ad soluta quaerat libero veritatis, vitae possimus recusandae tempore eum iusto, repellat in, quasi asperiores quod.
