extends _inc


block article
  article
    section.bread-crumb
      .container
        .bc-icons
          nav(aria-label='breadcrumb')
            ol.breadcrumb
              li.breadcrumb-item
                a(href='index.html') Trang chủ
              li.breadcrumb-item.active Giới thiệu
    
    section.aboutus-page
      .container
        h1.text-center GIỚI THIỆU
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae vitae tempore corporis. Alias accusantium, praesentium doloribus consectetur consequuntur, eligendi nihil dolor quae in iure ipsum. Ipsum, voluptatum! Ducimus, quaerat repellat.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae vitae tempore corporis. Alias accusantium, praesentium doloribus consectetur consequuntur, eligendi nihil dolor quae in iure ipsum. Ipsum, voluptatum! Ducimus, quaerat repellat.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae vitae tempore corporis. Alias accusantium, praesentium doloribus consectetur consequuntur, eligendi nihil dolor quae in iure ipsum. Ipsum, voluptatum! Ducimus, quaerat repellat.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae vitae tempore corporis. Alias accusantium, praesentium doloribus consectetur consequuntur, eligendi nihil dolor quae in iure ipsum. Ipsum, voluptatum! Ducimus, quaerat repellat.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae vitae tempore corporis. Alias accusantium, praesentium doloribus consectetur consequuntur, eligendi nihil dolor quae in iure ipsum. Ipsum, voluptatum! Ducimus, quaerat repellat.
        img(src='../img/news-1.png')
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae vitae tempore corporis. Alias accusantium, praesentium doloribus consectetur consequuntur, eligendi nihil dolor quae in iure ipsum. Ipsum, voluptatum! Ducimus, quaerat repellat.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae vitae tempore corporis. Alias accusantium, praesentium doloribus consectetur consequuntur, eligendi nihil dolor quae in iure ipsum. Ipsum, voluptatum! Ducimus, quaerat repellat.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae vitae tempore corporis. Alias accusantium, praesentium doloribus consectetur consequuntur, eligendi nihil dolor quae in iure ipsum. Ipsum, voluptatum! Ducimus, quaerat repellat.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae vitae tempore corporis. Alias accusantium, praesentium doloribus consectetur consequuntur, eligendi nihil dolor quae in iure ipsum. Ipsum, voluptatum! Ducimus, quaerat repellat.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae vitae tempore corporis. Alias accusantium, praesentium doloribus consectetur consequuntur, eligendi nihil dolor quae in iure ipsum. Ipsum, voluptatum! Ducimus, quaerat repellat.
